.description-product {
  /* margin-left: 156px; */
  color: #fff;
  font-family: "Roboto", sans-serif;
  /* font-size: 20px; */
}

.description-product > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.description-product > .item {
  font-size: 20px;
  margin-bottom: 28px;
}

.description-product > .item.-info {
  width: 200px;
  text-align: right;
}

.description-product > .item.-heart {
  position: absolute;
  transform: translateX(-100%);
  top: 7px;
  left: -47px;
}
.description-product > .item.-heart > .-pulse {
  transition: transform 200ms linear;
}
.description-product > .item.-heart > .-pulse:hover {
  transform: scale(1.4);
}

.description-product > .item.-last {
  margin-bottom: 72px;
}

.description-product > .item.-rep {
  margin-left: 10px;
}

.description-product .contrast {
  text-transform: uppercase;
  float: left;
}

.description-product > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}

.description-product > .text.-more {
  margin-bottom: 0;
}

.description-product .action {
  text-decoration: none;
  color: inherit;
}
