.product-store {
  margin-top: 150px;
  margin-left: 156px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  float: left;
}
.product-store > .-title {
  font-size: 25px;
  margin-bottom: 100px;
}
.-star {
  margin-left: 10px;
}
.-cost {
  margin-top: 28px;
}
.-info {
  float: left;
}
.-price {
  margin-top: 28px;
  margin-bottom: 26px;
  margin-left: 82px;
}
.-text {
  margin-top: 73px;
  font-size: 18px;
  width: 553px;
  line-height: 1.67;
}
.-link {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  margin-top: 50px;
  margin-bottom: 98px;
}
.-button {
  display: inline;
}
