.reputation-product {
  margin-bottom: 25px;
}

.reputation-product > .star {
  width: 25px;
  display: inline-block;
  margin-right: 9px;
  cursor: pointer;
  transition: all 200ms linear;
}

.reputation-product > .star:hover {
  transform: scale(1.3);
}
