header {
  background-color: #e24647;
}

h1,
a {
  color: #fff;
}

h1 {
  font-size: 40px;
  font-family: "Allerta Stencil", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
}
