header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px; /* padding: top right/left bottom; */
}

h1 {
  font-size: 40px;
  font-family: "Allerta Stencil", sans-serif;
  float: left;
}

nav {
  font-size: 21px;
  float: right;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
