header {
  background-color: #e24647;
  overflow: hidden;
}

h1,
a {
  color: #fff;
}

h1 {
  font-size: 40px;
  font-family: "Allerta Stencil", sans-serif;
  display: inline-block;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  margin-right: 15px;
}

nav {
  float: right;
  padding: 10px;
}
